*~
*.[ao]
*.l[ao]
.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
/autom4te.cache
bgpd/bgpd
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
debian/build-stamp
debian/vyatta-quagga
debian/vyatta-quagga.substvars
debian/files
debian/vyatta-quagga.postinst.debhelper
debian/vyatta-quagga.postrm.debhelper
debian/vyatta-quagga.prerm.debhelper
depcomp
doc/defines.texi
doc/mdate-sh
doc/quagga.info*
doc/stamp-vti
doc/texinfo.tex
doc/version.texi
install-sh
isisd/isisd
lib/memtypes.h
lib/route_types.h
lib/version.h
libtool
ltmain.sh
redhat/quagga.spec
ripd/ripd
ripngd/ripngd
stamp-h1
mkinstalldirs
missing
ospf6d/ospf6d
ospfclient/ospfclient
ospfd/ospfd
pkgsrc/*.sh
vtysh/extract.pl
vtysh/vtysh
vtysh/vtysh_cmd.c
watchquagga/watchquagga
zebra/testzebra
zebra/zebra


