*~
*.[ao]
*.l[ao]
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
/autom4te.cache
bgpd/bgpd
compile
config.cache
config.guess
config.guess
config.h
config.h
config.h.in
config.log
config.status
config.sub
configure
ltmain.sh
stamp-h
stamp-h[0-9]*
*-stamp
Makefile
INSTALL
.deps
depcomp
missing
install-sh
autom4te*.cache
configure.lineno
configure
config.h.in
aclocal.m4
Makefile.in
zebra-[0-9.][0-9.][0-9.]*.tar.gz
quagga-[0-9.][0-9.][0-9.]*.tar.gz
quagga-[0-9.][0-9.][0-9.]*.tar.gz.asc
.nfs*
libtool
ltmain.sh
redhat/quagga.spec
ripd/ripd
ripngd/ripngd
stamp-h1
mkinstalldirs
missing
ospf6d/ospf6d
ospfclient/ospfclient
ospfd/ospfd
pkgsrc/*.sh
vtysh/extract.pl
vtysh/vtysh
vtysh/vtysh_cmd.c
watchquagga/watchquagga
zebra/testzebra
zebra/zebra
cscope.*
TAGS
tags
.arch-inventory
.arch-ids
{arch}
build
.msg
.rebase-*
*~
*.loT

