Makefile
Makefile.in
*.o
tags
TAGS
.deps
.nfs*
*~
*.loT
*.lo
*.la
*.libs
*.bak
*.log
*.sum
*.xml
.arch-inventory
.arch-ids
testcases/bgpd/test_aspath
testcases/bgpd/test_capability_parser
testcases/bgpd/test_ecommunities
testcases/bgpd/test_mp_attr
testcases/bgpd/test_mpath
testcases/zebra/test_nexthop_iterator
testcases/zebra/test_stream
testcases/zebra/test_table
