Makefile
Makefile.in
*.o
tags
TAGS
.deps
.nfs*
*.lo
*.la
*.libs
*~
*.loT
.*.swp
.arch-inventory
.arch-ids
testbuffer
testmemory
tabletest
testsig
testsig
aspathtest
ecommtest
heavy
heavythread
heavywq
testbgpcap
testbgpmpath
testbgpmpattr
testchecksum
testprivs
teststream
